<div class="player-bar">
    <div class="progress">
        <div class="progress-bar" ng-style="{width: getProgress()}" id="progress1" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
            <span class="sr-only">70% Complete</span>
        </div>
    </div>
    <div class="player-bar-buttons">
        <button ng-click="prev(songs)" class="btn btn-default">
            <span class="glyphicon glyphicon-backward"></span>
        </button>
        <button ng-click="toggle()" class="btn btn-default">
            <span ng-if="!isPlaying()" class="glyphicon glyphicon-play"></span>
            <span ng-if="isPlaying()" class="glyphicon glyphicon-pause"></span>
        </button>
        <button ng-click="next(songs)" class="btn btn-default">
            <span class="glyphicon glyphicon-forward"></span>
        </button>
    </div>
</div>
<!-- End Player Bar -->
