<div class="form">
    <form name="songForm" ng-submit="addSong()">
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="song.title" ng-model="song.title">
        </div>
        <div class="form-group">
            <label>Artist</label>
            <input type="text" name="song.artist" ng-model="song.artist">
        </div>
        <div class="form-group">
            <label>Url</label>
            <input type="text" name="song.url" ng-model="song.url" ng-minlength="5" required>
        </div>
        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary" ng-disabled="songForm.$invalid">Submit</button>
    </form>
</div>
