<h4>Search</h4>
<div class="form">
    <form name="songForm" ng-submit="searchSong()">
        <!-- TITLE SEARCH FIELD-->
        <div class="form-group">
            <label>Title</label>
            <input type="text" name="artist" ng-model="title">
        </div>
        <!-- ARTIST SEARCH FIELD-->
        <div class="form-group">
            <label>Artist</label>
            <input type="text" name="artist" ng-model="artist">
        </div>
        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary" ng-disabled="songForm.$invalid">Submit</button>
    </form>
    <br>
    <h4>Search Results:</h4>
    <ul ng-repeat="song in searchResults">
        <li songData="{{song}}"><p>{{song.name}} - {{song.artists[0].name}}</p><button class="add-button" ng-click="addSpotifySong($event)"><span class="glyphicon glyphicon-plus"></span></button></li>
    </ul>
</div>
